body{
	background-color: lightblue;
}

h1{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

img{
    width: 25%;
}

.navbar img{
	width: 8%;
}

.col-md-5{
	border-radius: 5%;
	background-color: whitesmoke;
	margin: auto;
}

.btn-success{
	margin-left: 30%;
}

.form-group{
    font-size: 20px;
}

.navbar{
    text-transform: uppercase;
    background-color: black;
    max-height: 160px;
    font-family: "Montserrat", sans-serif;
}

#image{
   padding-left: 5%;
}

.navbar a {
  background-color: black;
  text-decoration: none;
  font-size: 100%;
  color: white;
  border-radius: 25px;
  padding: 20px;
}

.navbar a:hover {
  background-color: lightblue;
  color: black;
}