 h1{
 	background-color: lightblue;
 	padding: 50px;
  color: black; 
  font-family: 'Lato', sans-serif; 
  font-size: 54px; 
  font-weight: 300; 
  line-height: 58px; 
  margin: 0 0 58px;  
  margin-left: 200px;
  margin-right: auto;
  width: 100%;
 }

 .title{
 	 margin: 0px 20px;
 	 font-family: cursive;
 }

 .signup{
 	margin: 0px 300px;
 }

 .line{
 	margin: 0px -50px;
    padding: 0px;
    float: right;
 	 width:400px;
    height:200px;
	  background: linear-gradient(to right, 
	                              transparent 0%, 
	                              transparent calc(50% - 0.81px), 
	                              black calc(50% - 0.8px), 
	                              black calc(50% + 0.8px), 
	                              transparent calc(50% + 0.81px), 
	                              transparent 100%); 
 }

 .description{
 	  margin: 0px -100px;
    padding: 0px;
    width: 800px;
    float: right;
    font-family: cursive;
 }

 body{
 margin-left: 500px;
}

img{
	width: 8%;
  height: auto;
}

#page{
  padding-top: 5%;
}
.form-group1{
	font-size: 20px;
  padding: 20px 10px;
  margin-left: 60px;
  margin-right: 900px;
}

.left{
	float:left; 
  padding: 20px 0px;
  width:25%;
  height:280px;
  margin-left: 320px;
}

.right{
	float:right;
  padding: 167px 0px;
  width:25%;
  height:280px;
  margin-right:320px;
}

.break{
	margin: 0px -100px;
  padding: 0px;
  width: 800px;
  float: right;
  font-family: cursive;
}

.form-group2{
	font-size: 20px;
  margin-left: 70px;
  margin-right: 900px;
}

.btn-primary{
  padding: 40px 10px;
  margin-left: 5%;
  margin-right: 10%;
}

p{
	padding: 50px 10px;
  margin-left: 70px;
  margin-right: 200px;
}

.accounttype{
	padding: 10px 0px;
}

div{
	background-color: lightblue;
}

 
 html{  
  background-color: lightblue;
 }
