@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.navbar{
  background-color: black;
	font-family: "Montserrat", sans-serif;
  position: absolute;
  width: 100%;  
}

.navbar a {
  background-color: black;
  text-decoration: none;
  font-size: 130%;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  background-color: lightblue;
}

.navbar .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.navbar a:nth-child(1):hover ~ .dot {
  transform: translateX(-19300%);
  transition: all 0.2s ease-in-out;
  opacity: 5;
}

.navbar a:nth-child(2):hover ~ .dot {
  transform: translateX(-14100%);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar a:nth-child(4):hover ~ .dot {
  transform: translateX(-5700%);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar a:nth-child(5):hover ~ .dot {
  transform: translateX(-1800%);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

